In [94]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import pickle

In [95]:
df = pd.read_csv("Housing.csv")

In [96]:
df.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished

In [97]:
df = df[["price", "area", "stories", "bathrooms"]]

In [98]:
from sklearn.model_selection import train_test_split

np.random.seed(0)
df_train, df_test = train_test_split(df, train_size = 0.90, test_size = 0.10, random_state = 100)

In [99]:
y_train = df_train.pop("price")
x_train = df_train
y_test = df_test.pop("price")
x_test = df_test

In [100]:
from sklearn.preprocessing import MinMaxScaler

numerical_list = df_train.columns

scaler = MinMaxScaler()
x_train[numerical_list] = scaler.fit_transform(x_train[numerical_list])
x_test[numerical_list] = scaler.transform(x_test[numerical_list])

In [101]:
from sklearn.linear_model import LinearRegression

model = LinearRegression().fit(x_train, y_train)

In [109]:
from sklearn.metrics import mean_absolute_error

y_test_pred = model.predict(x_test)
print(f"L1 Loss: {mean_absolute_error(y_test, y_test_pred)}")

L1 Loss: 1147703.581568481

In [114]:
np.array(x_test)

array([[0.08453608, 0.33333333, 0.        ],
       [0.29896907, 0.33333333, 0.33333333],
       [0.59237113, 0.        , 0.        ],
       [0.25223368, 0.33333333, 0.        ],
       [0.22680412, 0.33333333, 0.        ],
       [0.18350515, 0.        , 0.        ],
       [0.33608247, 0.33333333, 0.33333333],
       [0.33608247, 0.33333333, 0.33333333],
       [0.35395189, 0.        , 0.        ],
       [0.33608247, 0.        , 0.        ],
       [0.2742268 , 0.        , 0.        ],
       [0.27835052, 0.        , 0.        ],
       [0.07814433, 0.33333333, 0.33333333],
       [0.95876289, 0.        , 0.        ],
       [0.23958763, 0.33333333, 0.        ],
       [0.18969072, 0.33333333, 0.66666667],
       [0.40206186, 0.33333333, 0.33333333],
       [0.16666667, 0.        , 0.        ],
       [0.33676976, 0.33333333, 0.        ],
       [0.14089347, 0.33333333, 0.        ],
       [0.19587629, 0.33333333, 0.        ],
       [0.16838488, 0.        , 0.        ],
       [0.10391753, 0.33333333, 0.        ],
       [0.29896907, 0.        , 0.        ],
       [0.09690722, 0.        , 0.        ],
       [0.10549828, 0.        , 0.        ],
       [0.19656357, 0.33333333, 0.        ],
       [0.26460481, 0.        , 0.33333333],
       [0.38556701, 0.        , 0.33333333],
       [0.29896907, 0.33333333, 0.        ],
       [0.02405498, 0.33333333, 0.        ],
       [0.17800687, 0.33333333, 0.        ],
       [0.21305842, 0.        , 0.        ],
       [0.13738832, 0.        , 0.        ],
       [0.30171821, 0.        , 0.        ],
       [0.23298969, 0.33333333, 0.        ],
       [0.13676976, 0.33333333, 0.33333333],
       [0.15876289, 0.        , 0.        ],
       [0.13608247, 0.        , 0.        ],
       [0.19587629, 0.33333333, 0.        ],
       [0.12989691, 0.        , 0.        ],
       [0.11340206, 0.33333333, 0.66666667],
       [0.34020619, 0.        , 0.33333333],
       [0.05154639, 0.33333333, 0.        ],
       [0.0790378 , 0.        , 0.        ],
       [0.25773196, 0.33333333, 0.        ],
       [0.26460481, 0.33333333, 0.        ],
       [0.13402062, 0.33333333, 0.33333333],
       [0.19587629, 0.        , 0.        ],
       [0.46199313, 0.66666667, 0.        ],
       [0.08659794, 0.        , 0.        ],
       [0.28522337, 1.        , 0.33333333],
       [0.25085911, 0.        , 0.33333333],
       [0.36769759, 1.        , 0.        ],
       [0.32302405, 0.66666667, 0.33333333]])

In [110]:
with open("app/model_house.pkl", "wb") as f:
    pickle.dump(model, f)
    
with open("app/model_scaler.pkl", "wb") as f:
    pickle.dump(scaler, f)

In [115]:
pd.__version__

'2.0.3'