In [94]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import pickle

In [95]:
df = pd.read_csv("Housing.csv")

In [96]:
df.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished

In [97]:
df = df[["price", "area", "stories", "bathrooms"]]

In [98]:
from sklearn.model_selection import train_test_split

np.random.seed(0)
df_train, df_test = train_test_split(df, train_size = 0.90, test_size = 0.10, random_state = 100)

In [99]:
y_train = df_train.pop("price")
x_train = df_train
y_test = df_test.pop("price")
x_test = df_test

In [100]:
from sklearn.preprocessing import MinMaxScaler

numerical_list = df_train.columns

scaler = MinMaxScaler()
x_train[numerical_list] = scaler.fit_transform(x_train[numerical_list])
x_test[numerical_list] = scaler.transform(x_test[numerical_list])

In [101]:
from sklearn.linear_model import LinearRegression

model = LinearRegression().fit(x_train, y_train)

In [109]:
from sklearn.metrics import mean_absolute_error

y_test_pred = model.predict(x_test)
print(f"L1 Loss: {mean_absolute_error(y_test, y_test_pred)}")

L1 Loss: 1147703.581568481

In [110]:
with open("app/model_house.pkl", "wb") as f:
    pickle.dump(model, f)
    
with open("app/model_scaler.pkl", "wb") as f:
    pickle.dump(scaler, f)